@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import 'back-to-top-style.css';
@font-face {
  font-family: 'mplus-1p-regular';
  src: url("//mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf") format("truetype");
}
.green-text {
  color: #00a04c;
}
body {
  background-color: #ffffff;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
}
.cbp-spmenu {
  background: #62b446;
}
.cbp-spmenu h3 {
  color: #ffffff;
  background: #00a04c;
}
.cbp-spmenu .btn-warning:hover {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: #b86d00;
}
.cbp-spmenu li:hover > a:not(.btn) {
  background: #00aa51;
  color: #ffffff;
}
.cbp-spmenu li:active > a:not(.btn) {
  background: #00a04c;
  color: #ffffff;
}
.cbp-spmenu-vertical a {
  border-bottom: 1px solid #00a04c;
}
.btn {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
}
.main-title {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.main-desc {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 19px;
  color: #000000;
}
a {
  color: #212737;
  outline: none !important;
}
a:hover,
a:active,
.main-navigation li:hover > a,
.main-navigation li:active > a {
  color: #00a04c;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
  color: #00a04c;
}
.main-navigation li {
  padding-right: 5px;
}
.main-navigation a.btn {
  display: block;
  text-decoration: none;
  padding: 6px 12px;
  height: 35px;
  color: #ffffff;
}
.main-navigation li:hover > a.btn {
  color: #ffffff;
}
.main-navigation .btn-head-pad {
  padding-top: 0px;
}
.main-navigation .btn-first-head {
  padding-left: 5px;
  padding-right: 0px !important;
  margin-right: 10px;
  height: 60px;
}
.main-navigation .btn-second-head {
  height: 60px;
}
.grid-head {
  max-width: 1366px;
}
.head-img {
  -webkit-background-size: cover;
  background: url(../img/head_bg.png) 50% 50% / cover;
  height: 552px;
}
.text-left-head {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-right: 140px;
}
.text-left-head h1 {
  font-size: 46px;
  line-height: 50px;
  margin-top: 0px;
}
.text-left-head h3 {
  font-size: 25px;
  line-height: 40px;
}
.btn-xs-headbox {
  display: none;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 10px;
  left: 50%;
}
#fixed-sequence {
  position: relative;
  height: 552px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: white;
}
.contact-box {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  padding-left: 40px;
  width: 382px;
  height: 418px;
  color: #fff;
  background: url('../img/bg1px.png');
  background-repeat: repeat;
}
.contact-box .pad {
  padding-bottom: 10px;
}
.contact-box .btn {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 16px;
  width: 184px;
}
.contact-box h3 {
  font-family: Arial;
  font-size: 30px;
}
.foot-img {
  -webkit-background-size: cover;
  background: url(../img/foot_bg.png) 50% 50% / cover;
  height: 552px;
}
.foot-img .text-pos {
  color: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.foot-img h1 {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 48px;
  margin-top: 0px;
}
.foot-img h3 {
  margin-top: 0px;
  font-size: 21px;
}
.foot-img hr {
  width: 13%;
}
.foot-img .btn-foot {
  margin-top: 30px;
  border: solid 5px rgba(255, 255, 255, 0.35);
  max-width: 472px;
  max-height: 71px;
  background: rgba(41, 41, 41, 0.35);
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  /*background-repeat: repeat;*/
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-left: 10%;
  padding-right: 10%;
  color: #ffffff;
}
.foot-img .btn-foot span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}
.foot-img .btn-foot .eve-arrow {
  background: url('../img/arrow.png');
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  opacity: 0.45 !important;
  background-repeat: no-repeat;
}
.foot-img .btn-foot:hover {
  background: #9c9c9c;
  border-color: rgba(255, 255, 255, 0.45);
}
.padding-cta {
  padding: 25px 0 55px;
}
.bg-height {
  height: 552px;
  position: relative;
}
.home-cta {
  background: none repeat scroll 0 0 #ffffff;
  color: #000;
}
.home-cta h4 {
  color: #000;
  padding-top: 0px;
}
.home-blog > p {
  line-height: 25px;
}
col-text-center {
  float: center;
}
.pad-btn {
  padding: 6px 12px;
}
.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}
.btn-warning {
  background-color: #fda231;
  border-color: #fda231;
}
.home-blog {
  border: none;
  background: #ffffff;
}
.btn-service {
  border-radius: 0px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 500px;
  background: #9c9c9c;
  border: solid 5px rgba(255, 255, 255, 0.45);
  color: #ffffff;
}
.btn-service span {
  display: inline-block;
  vertical-align: middle;
}
.btn-service:hover {
  background: rgba(41, 41, 41, 0.35);
  border-color: rgba(255, 255, 255, 0.35);
  color: #ffffff;
}
.btn-service .eve-arrow {
  background: url('../img/arrow.png');
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  opacity: 0.45 !important;
  background-repeat: no-repeat;
}
.btn-large-text {
  font-size: 24px;
}
.site-footer {
  background: none repeat scroll 0 0 #0e2739;
  color: #b3b3b3;
  padding: 10px 0 10px;
}
.site-footer .footer-pad {
  padding-left: 40px;
}
.site-footer .title {
  font-size: 24px;
  color: #fff;
}
.site-footer .green-text {
  color: #62b446;
  padding-bottom: 10px;
}
.site-footer .dif-text {
  color: #ddd2d2;
  font-weight: bold;
}
.site-footer p {
  margin: 0px;
  padding: 0px;
}
.site-footer aside dl.foot-info dt,
.site-footer aside dl.foot-info dd {
  display: inline-block !important;
}
.site-footer aside dl.foot-info .dif2-text {
  color: #b3b3b3;
}
.foot-contact {
  margin-top: 60px;
  padding-bottom: 80px;
}
.foot-contact .btn-foot-contact1,
.foot-contact .btn-foot-contact2 {
  width: 280px;
  font-size: 24px;
}
.white-text {
  color: #ffffff;
}
.black-text {
  color: #000000;
}
.blur-black {
  color: #000000;
}
.service-padding {
  padding-bottom: 10px;
}
.home-service-padding {
  padding-top: 0px;
  padding-bottom: 80px;
}
.col-client {
  position: relative;
  width: 100%;
}
.col-contact {
  clear: both;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
.col-no-pad {
  padding-right: 0px;
}
h1 {
  font-size: 38px;
}
.relbgcolor {
  background-color: #e1e1e1;
}
.merit-head-img {
  -webkit-background-size: cover;
  background: url(../img/merit_head_bg.png) 50% 50% / cover;
  height: 552px;
}
.detail-head-img {
  -webkit-background-size: cover;
  background: url(../img/merit_head_bg.png) 50% 50% / cover;
  height: 552px;
}
.benefit-head-img {
  -webkit-background-size: cover;
  background: url(../img/merit_head_bg.png) 50% 50% / cover;
  height: 552px;
}
.profile-head-img {
  -webkit-background-size: cover;
  background: url(../img/merit_head_bg.png) 50% 50% / cover;
  height: 552px;
}
.contact1-head-img {
  -webkit-background-size: cover;
  background: url(../img/merit_head_bg.png) 50% 50% / cover;
  height: 552px;
}
.contact2-head-img {
  -webkit-background-size: cover;
  background: url(../img/merit_head_bg.png) 50% 50% / cover;
  height: 552px;
}
.number-title {
  color: #00a04c;
  font-size: 30px;
}
.number-title img {
  width: 50px;
  height: 50px;
}
.part-pad {
  padding-bottom: 40px;
}
.last-part-pad {
  padding-bottom: 20px;
}
.img-pad {
  margin-right: 25px;
}
#part0 {
  padding-top: 40px;
}
#part1 {
  padding-top: 40px;
}
#part1 .search-pad {
  padding-top: 20px;
}
#part1 .content-pad {
  padding-left: 55px;
}
#part3 .head-bg {
  vertical-align: middle;
  background-color: #3498DB;
  color: #ffffff;
  font-size: 24px;
  padding: 5px 0 5px 0;
  margin-bottom: 5px;
}
#part3 .border {
  border: 1px solid #3498db;
}
#part3 .col-top-pad {
  padding-top: 5px;
}
#part3 .col-child-pad {
  padding-left: 10px;
}
#part3 .col-height {
  height: 800px;
  width: 100%;
  padding: 30px;
}
#part3 .col3-pad {
  list-style-image: url("../img/marker.png");
  padding-left: 35px;
  padding-top: 5px;
  font-size: 19px;
}
#part3 .blue {
  color: #3498DB;
  padding-bottom: 15px;
}
#part3 .content-pad {
  padding-top: 35px;
}
#part3 .cpad {
  padding: 0 10px 10px 10px;
}
#part3 #part3-col1 .hcpad1 {
  padding: 5px 0px 0px 0px;
}
#part3 #part3-col1 .pad1 {
  padding-left: 20px;
}
#part3 #part3-col1 ul {
  list-style-image: url("../img/marker.png");
  margin-left: 20px;
}
#part3 .hcpad {
  padding: 5px 0px 10px 0px;
}
#part3 .content-btn {
  color: #fff;
  background-color: #ff9800;
  border-color: #f59200;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 2px 12px;
  font-size: 19px;
  line-height: 1.42857;
  border-radius: 4px;
  width: 100%;
}
#part3 .center {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}
ul {
  list-style-type: square;
  margin-left: 20px;
}
.green {
  color: #00a04c;
  font-size: 20px;
}
.btn-detail-green {
  font-size: 24px;
  background-color: #00a04c;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.btn-detail-green:hover {
  background-color: #62b446;
}
#detail #detail-part2 .bpad,
#benefit #detail-part2 .bpad {
  padding-bottom: 30px;
}
#detail .smallrow,
#benefit .smallrow {
  display: table;
  margin-bottom: 5px;
}
#detail .smallnum,
#benefit .smallnum {
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
}
#detail .smalltit,
#benefit .smalltit {
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
}
#detail .img-benefit,
#benefit .img-benefit {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
#profile .text-left-head,
#contact1 .text-left-head,
#contact2 .text-left-head {
  top: 37%;
}
#profile table {
  margin-left: 10px;
}
#profile table th {
  width: 25%;
  text-align: center;
  background-color: #e0eef8;
  vertical-align: middle;
}
#profile table td {
  padding: 20px 0 20px 40px;
  background-color: #fafafd;
}
#profile table td#map {
  padding: 0px 0px 0px 0px;
}
#profile #map-canvas {
  height: 400px;
}
#profile .btn-strange {
  font-size: 24px;
  border: 2px solid #000000;
  padding: 6px 12px;
  color: #000000;
  width: 250px;
}
#profile .btn-strange:hover {
  background: #737373;
}
#profile .top-pad {
  padding-top: 60px;
}
#profile .tb-bg {
  background-color: #f1f1f1;
}
#profile .tb-title {
  padding-left: 80px;
  padding-top: 10px;
}
.grid-pad-nano {
  padding: 20px;
}
.nano {
  border: 1px solid #D3D3D3;
  background: #fff;
  line-height: 30px;
  height: 300px;
}
.nano .nano-content {
  padding: 20px;
}
.nano .nano-pane {
  background: f1f1f1;
}
.nano .nano-slider {
  background: #09afed !important;
}
.btn-contact1 {
  width: 300px;
  font-size: 24px;
  margin-bottom: 60px;
}
#recruit-application .grid {
  max-width: 960px;
}
#recruit-application .nano {
  border: 1px solid #D3D3D3;
  background: #fff;
  padding-bottom: 30px;
  line-height: 30px;
  height: 100px;
}
#recruit-application .nano .nano-content {
  padding: 10px;
}
#recruit-application .nano .nano-pane {
  background: f1f1f1;
}
#recruit-application .nano .nano-slider {
  background: #09afed !important;
}
#recruit-application .form-control {
  background-color: #f1f1f1;
}
#recruit-application .application-form {
  margin-left: 20px;
  margin-top: 20px;
  background-color: white;
}
#recruit-application .application-form hr {
  margin: 0 10px 0 20px;
}
#recruit-application .detail-group {
  padding-top: 20px;
  padding-left: 40px;
}
#recruit-application .detail-group .required {
  color: red;
}
#recruit-application .detail-group small {
  display: block;
}
#recruit-application .detail-group label.stick-required::before {
  content: "";
  font-size: 12px;
  margin-left: -15px;
  margin-top: 10px;
  padding: 10px 5px;
  position: absolute;
  background: #00A04C;
  width: 5px;
  height: 10px;
}
#recruit-application .detail-group label.stick::before {
  content: "";
  font-size: 12px;
  margin-left: -15px;
  margin-top: 1px;
  padding: 10px 5px;
  position: absolute;
  background: #00A04C;
  width: 5px;
  height: 10px;
}
#recruit-application .detail-agreement {
  padding-left: 40px;
  padding-right: 40px;
}
#recruit-application .submit-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
#recruit-application .top-pad {
  padding-top: 60px;
}
#recruit-application .tb-bg {
  background-color: #f1f1f1;
}
#recruit-application .tb-title {
  padding-left: 80px;
  padding-top: 10px;
}
#recruit-detail .grid {
  max-width: 960px;
}
#recruit-detail hr {
  border-top: 2px dotted grey;
  color: transparent;
}
#recruit-detail .dotted-head {
  margin: auto;
  margin-top: -37px;
  width: 200px;
  background-color: #fff;
}
#recruit-detail .sub-title {
  color: #737373;
  padding-bottom: 30px;
}
#recruit-detail table.no-pad .col-1-3 {
  padding-right: 0px;
}
#recruit-detail table.no-pad .col-1-1 {
  padding: 20px 0 20px 40px;
}
#recruit-detail table.pad th {
  width: 25%;
  text-align: center;
  background-color: #fafafd;
  vertical-align: middle;
  font-weight: normal;
}
#recruit-detail table.pad td {
  padding: 20px 0 20px 40px;
}
#recruit-detail .bottom-pad {
  padding-bottom: 60px;
}
#recruit-detail .tb-bg {
  background-color: #f1f1f1;
}
#recruit-detail .tb-title {
  font-weight: bold;
  color: #5d789a;
  margin-bottom: 18px;
}
#recruit-detail ul.desc-list {
  list-style: none;
}
#recruit-detail ul.desc-list li:before {
  content: "•";
  /* Insert content that looks like bullets */
  padding-right: 8px;
  color: black;
  /* Or a color you prefer */
}
#recruit-detail ul.desc-list .li-add {
  padding-left: 14px;
}
#recruit-detail .btn-recruit-apply {
  font-size: 24px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
}
/*--------------------------------------------------------------------- import*/
@media (min-width: 768px) and (max-width: 991px) {
  .text-left-head h1 {
    font-size: 40px !important;
  }
  .text-left-head h3 {
    font-size: 20px;
    line-height: 30px;
  }
}
@media screen and (max-width: 767px) {
  .contact-box {
    display: none;
  }
  .btn-xs-headbox {
    display: block !important;
    left: 32%;
    transform: translate(0, 0);
  }
  .text-left-head {
    top: 15%;
    transform: translate(0, 0);
    padding-right: 35px;
    width: 100%;
  }
  .text-left-head h1 {
    font-size: 40px !important;
  }
  .text-left-head h3 {
    font-size: 20px;
    line-height: 25px;
  }
  .foot-img .text-pos {
    top: 15%;
    transform: translate(0, 0);
  }
  .foot-contact .grid .text-right {
    text-align: center;
  }
  .foot-contact .grid .text-left {
    text-align: center;
  }
  .home-point.button {
    text-align: center;
  }
  .btn-service {
    font-size: 20px;
  }
  #feature .btn-detail-green {
    padding-left: 12px;
    padding-right: 12px;
  }
  #profile table td {
    padding: 20px 0 20px 20px;
  }
}
@media (max-width: 1080px) {
  .number-title {
    font-size: 20px;
  }
  .number-title img {
    width: 40px;
    height: 40px;
  }
  .site-footer .footer-pad {
    padding-left: 20px;
  }
  .site-footer .pull-right {
    float: none !important;
  }
}
