@media (max-width: 767px){

}

@media screen and (max-width: 767px){
    
    .contact-box {
        //padding-bottom: 10%;
        display: none;
    }

    .btn-xs-headbox{
        display: block !important;        
    }    
    
    .text-left-head{        
        h1{
            font-size: 40px !important;
            line-height: 35px;
        }
        h3{
            font-size: 20px;
            line-height: 25px;
        }
    }
    
    .foot-contact .grid {
      .text-right{
          text-align: center;
      }
      .text-left{
          text-align: center;
      } 
  }
}