@media (max-width: 767px){

}

@media screen and (max-width: 767px){
    .contact-box {
        //padding-bottom: 10%;
        display: none;
    }

    .btn-xs-headbox{
        display: block;
        position: absolute;
        transform: translate(-50%,0);
        bottom: 0;  /* firefox */
        left: 50%; /* firefox */
        /*left: 50%;*/
    }    
}